/* Estilos para la sección Hero (Carrusel) */
#home {
    width: 100%;
    overflow: hidden;
    background-color: #000; /* Fondo negro por si la imagen tarda en cargar */
}

/* Reemplazamos .hero-image img por .banner-img */
.banner-img {
    width: 100vw;      /* Ancho total de pantalla */
    height: 85vh;      /* 85% del alto de la pantalla [Requisito TP] */
    object-fit: cover; /* Mantiene la proporción sin deformar */
    display: block;
}

/* Ajuste para los puntitos (indicadores) */
.carousel-indicators [data-bs-target] {
    background-color: #c5a36c !important; /* Forzamos tu dorado */
    width: 12px;
    height: 12px;
    border-radius: 50%; /* Los hace redondos */
    margin: 0 10px;
}

/* Configuración General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a; /* Esto ayuda a que si hay un micro-espacio, sea negro */
}

/* Header Negro y Elegante */
header {
    background-color: #1a1a1a;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between; /* Empuja el logo a la izq y los iconos a la der */
    align-items: center; /* Centra todo verticalmente */
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    min-height: 60px;
}

.logo img {
    height: 60px; /* Controlamos el tamaño del logo */
    width: auto;
    display: block;  /* Mantiene la proporción para que no se estire */
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px; /* Espacio entre los enlaces */
    margin: 0;
    padding: 0;
}

/* Estilo de los enlaces */
nav ul li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.3s; /* Agregamos esto para que el cambio a dorado sea suave */
}

nav ul li a:hover {
    color: #c5a36c;
}

.header-icons {
    display: flex;
    gap: 15px;
    font-size: 1.2rem;
    color: rgb(197, 163, 108);
}